<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik+Microbe&family=Sono&display=swap" rel="stylesheet">
    <title>Online Code Complier</title>
</head>
<body>
    <h1>ONLINE CODE EDITOR</h1>
    <div class="container">
        <div class="input-field">
            <form action="/" method="post">
                <textarea name="user_code" id="" class="inp-text-area"><%=userInput%></textarea>
                <br>
                <button type="submit">run</button>
                <select name="language" id="lang">
                    <option value="Javascript">JAVASCRIPT</option>
                    <option value="Python">PYTHON</option>
                    <option value="C">C</option>
                    <option value="C++">C++</option>
                    <option value="Rust">RUST</option>
                    <option value="CoffeScript">COFFESCRIPT</option>
                    <option value="TypeScript">TYPESCRIPT</option>
                    <option value="Ruby">RUBY</option>
                    <option value="Perl">PERL</option>
                </select>
            </form>
        </div>
        <div class="output-field"><%= result %></div>
    </div>
    
</body>
</html>